@font-face {
  font-family: AlexeyOmFont;
  src: url(assets/fonts/Alexeyomfont-Regular.ttf);
}

:root {
  color-scheme: light dark; /* both supported */
}

* {
  font-family: AlexeyOmFont, Tahoma, Verdana, Arial, sans-serif;
}



/* THEME RELATED SETUP */
body {
  --text-color: #222;
  --background-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --background-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --background-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --background-color: #fff;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: all 0.5s ease;
}

/* THEME RELATED SETUP END */

body {
  width: 35em;
  margin: 0 auto;
  max-width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

  /* background pattern that I'm leaving for later */
  /* credits to https://codepen.io/ThePixelPixie/pen/dXwEqp */
  /* background: 
  radial-gradient(1.5em 6.28571em at 1.95em, 
    rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.25) 50%, 
    rgba(0,0,0, 0.25) 55%, rgba(0,0,0, 0) 55%) 0 0, 
  radial-gradient(1.5em 6.28571em at -0.45em, 
    rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.25) 50%, 
    rgba(0,0,0, 0.25) 55%, rgba(0,0,0, 0) 55%) 1.5em 5.5em, 
  radial-gradient(2.3em 4.57143em at 2.99em, 
    rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.3) 50%, 
    rgba(0,0,0, 0.3) 55%, rgba(0,0,0, 0) 55%) 0 0, 
  radial-gradient(2.3em 4.57143em at -0.69em, 
    rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.3) 50%, 
    rgba(0,0,0, 0.3) 55%, rgba(0,0,0, 0) 55%) 2.3em 4em, 
  radial-gradient(3.5em 6.28571em at 4.55em, 
    rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.25) 50%, 
    rgba(0,0,0, 0.25) 55%, rgba(0,0,0, 0) 55%) 0 0, 
  radial-gradient(3.5em 6.28571em at -1.05em, 
    rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.25) 50%, 
    rgba(0,0,0, 0.25) 55%, rgba(0,0,0, 0) 55%) 3.5em 5.5em, 
    radial-gradient(var(--background-color), var(--background-color));
  background-color: var(--text-color);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat; */
}

.sidebar {
  margin: auto;
  float: right;

}
.welcome-picture {
  width: 200px;
}

header {
  flex: 0 0 100%;
  background-color: var(--background-color);
  transition: all 0.5s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
}

.nav-links .list-item {
  margin: 0 10px;
}

.list-item.active {
  text-decoration: underline;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background: var(--background-color);
  transition: all 0.5s ease;
}

.btn {
  position:relative;
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.footer-links {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border: 0 solid var(--text-color);
  border-left-width: 1px;
  margin-bottom: 5px;
}

/* THEME STYLES */
.fa-github {
  color: var(--text-color);
  background: var(--background-color);
  transition: all 0.5s ease;
}
/* TODO: needs refactoring */
.fa-sun-o {
  opacity: 1;
  transform: translateX(-5px);
  transition: opacity transform 1s ease;
}

.fa-moon-o {
  opacity: 0;
  transform: translateX(5px);
  transition: opacity transform 1s ease;
}

.dark-theme .fa-sun-o {
  opacity: 0;
}

.dark-theme .fa-moon-o {
  opacity: 1;
}

.light-theme .fa-sun-o {
  opacity: 1;
}
.light-theme .fa-moon-o {
  opacity: 0;
}

.light-theme.dark-theme .fa-sun-o {
  opacity: 0;
  transform: translateX(5px);
  transition: opacity transform 1s ease .15s;
}
.light-theme.dark-theme .fa-moon-o {
  opacity: 1;
  transform: translateX(5px);
  transition: opacity transform 1s ease .15s;
}

.btn .fa {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}